mkdocs

git+ssh://git@github.com/beanflame/mdx_math@main

setup.py install
#admonition
#smarty
#sane_lists
#python setup.py install

#Add pip package if needed
#mkdocs-bootswatch
#mkdocs-minify-plugin
